/* GERAL
*******************/
html,
body {
	margin: 0;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	background-color: #006969;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	font-variant: small-caps;
	height: 100%;
	width: 100%;
	min-width: 320px;
	overflow-x: hidden;
	position: relative
}

* {
	outline: none !important
}

.time {
	text-align: center;
	margin: 0;
	white-space: pre
}

/* CONTAINER
*******************/
.container {
	white-space: nowrap;
	text-align: center;
	position: relative;
	width: 100%;
	max-width: 535px;
	height: 99vw;
	max-height: 535px;
	min-height: 322.77px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .1s
}

.square {
	padding: 0;
	float: left;
	width: 32.6%;
	max-width: 175px;
	height: 33vw;
	max-height: 175px;
	min-height: 107.59px;
	background-color: #e1fbff;
	border: 1px solid #000;
	transition: background-color 1s, transform .5s;
	animation-duration: .7s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform: perspective(200)
}

#start {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #008000;
	height: 70px;
	width: 185px;
	border: 0;
	transition: left .1s;
	border-radius: 15px
}

#start:active {
	background-color: #006400
}

#start span {
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	position: relative;
	transition: .3s
}

#result {
	text-align: center;
	margin: 0;
	transition: all .1s
}

/* DETALHES
*******************/
.slContainer {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 272px;
	min-height: 0;
	transition: all .1s
}

.slContainer * {
	margin: 0;
	padding: 0
}

.slContainer h1 {
	font-size: 25px
}

.slContainer h3 {
	font-size: 22px
}

label {
	font-size: 25px !important;
	font-weight: 800
}

input,
label {
	display: inline-block
}

/* RESPONSIVIDADE
*******************/
@media (max-width: 1023px) {

	.square,
	input,
	label {
		cursor: default !important
	}
}

@media (min-width: 346px) {
	.square {
		width: 32.7%
	}
}

@media (min-width: 446px) {
	.square {
		width: 32.8%
	}
}

@media (min-width: 496px) {
	.square {
		width: 32.9%
	}
}

@media (min-width: 546px) {
	.square {
		width: 33.3%
	}
}

@media (min-width: 768px) {
	::-webkit-scrollbar {
		width: 4px
	}

	::-webkit-scrollbar-thumb {
		background-color: #00ffff
	}

	::-webkit-scrollbar-track {
		background-color: #fff
	}

	.container {
		transform: translateX(calc(-50% - 95px))
	}

	#start {
		position: absolute;
		left: 50%;
		transform: translateX(calc(-50% + 270px));
		top: 500px
	}
}

@media (min-width: 1024px) {
	#start:active {
		background-color: #008000 !important
	}

	#start:hover {
		background-color: #006400
	}

	#start span {
		right: -10px
	}

	#start span:after {
		content: ' \00bb';
		opacity: 0;
		transition: .3s
	}

	#start:hover span {
		right: 0
	}

	#start:hover span:after {
		opacity: 1
	}

	::-webkit-scrollbar-thumb:hover {
		background-color: #00ffff
	}

	.container {
		transform: translateX(-50%)
	}

	input,
	label,
	#start {
		cursor: pointer
	}

	#start {
		left: unset;
		left: 50%;
		top: 535px;
		transform: translate(calc(-50% + 365px), -50%)
	}

	.slContainer {
		text-align: unset;
		position: absolute;
		transform: unset;
		left: 5px;
		top: 5px
	}
}

/* ANIMAÇÕES
*******************/
@keyframes blueWin {
	50% {
		background-color: #00074e
	}
}

@keyframes redWin {
	50% {
		background-color: #880000f1
	}
}